<!-- Footer -->

	<div th:fragment="footer">
		<div class='contenedor' >

		      
		      <div class='container'>

		          <div class='logo'>

		              <img src="/assets/img/iconoPagina.png" alt="logo-img" />

		          </div>

		          <div class='datos-admin'>

		              <h4>Administrative data</h4>

		              <p>Business name: SneakersClub
		                  <br />
		                  Cuit: 30-71119543-9
		                  <br />
		                  multilateral agreement: 902-539472-7
		                  <br />
						  Address: Madariaga 1364 Almirante Brown Industrial Park.		              </p>

		          </div>

		      </div>
		  </div>
	</div>