<!-- Footer -->

	<div th:fragment="footer">
		<div class='contenedor' >

		      
		      <div class='container'>

		          <div class='logo'>

		              <img src="assets/img/iconoPagina.jpg" alt="logo-img" />

		          </div>

		          <div class='datos-admin'>

		              <h4>Datos Administrativos</h4>

		              <p>Razón Social: CoverCare
		                  <br />
		                  Cuit: 30-71119543-9
		                  <br />
		                  Convenio Multilateral: 902-539472-7
		                  <br />
		                  Domicilio: Madariaga 1364 Parque Industrial de Almirante Brown.
		              </p>

		          </div>

		      </div>
		  </div>
	</div>