<div th:fragment="div-header">
     <header class='header'>
		<div class='logo'>
		     <a href="/index"><img src="/assets/img/iconoPagina.jpeg" alt="logo-img"/></a>
		</div>
		<div class="headerTitle">
			<h1>SneakersClub</h1>			

		</div>
		 <nav>
		    <div class='nav-links'>
			   <a href="/index" class="link">Home</a>
			   <a href="/lot/lots" class="link">Lots</a>
			   <a href="/purchases/purchases" class="link">Purchases</a>
			   <a href ="/supplyOrders/supplyOrders"  class="link">Supply Orders</a>
			   <a href="/logout"><img class="btn" src="/assets/img/logout.jpeg"></a>
		   </div>
		 </nav>
	</header>
</div>