<div th:fragment="div-header">
     <header class='header'>
		<div class='logo'>
		      <a href="/index"><img src="/assets/img/iconoPagina.png" alt="logo-img"/></a>
		</div>
		<div class="headerTitle">
			<h1>SneakersClub</h1>			
		</div>
		 <nav>
		    <div class='nav-links'>
			   <a href="/index" class="link">Home</a>
			   <a href="/stores/stores "class="link">Stores</a>
			   <a href="/products/ourShoes" class="link">Our Shoes</a>
			   <a href="/logout"><img class="btn" src="/assets/img/logout.png"></a>
		   </div>
		 </nav>
	</header>
</div>
       
		 
		 
