<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Grupo7</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/iconoPagina.jpg" />
    </head>
	<body>
		<main>
			<section>
				<form th:object="${supplyOrder}" action="#" th:action="@{/supplyOrders/supplyOrderSave}" method="post">
					
					
					<input type="hidden" th:field="*{product.productId}"/>
					<input type="hidden" th:field="*{product.code}"/>
					<input type="hidden" th:field="*{product.brand}"/>
					<input type="hidden" th:field="*{product.name}"/>
					<input type="hidden" th:field="*{product.description}"/>
					<input type="hidden" th:field="*{product.cost}"/>
					<input type="hidden" th:field="*{product.salePrice}"/>
					<input type="hidden" th:field="*{product.enabled}"/>
					
					<p>Supplier: <input type="text" th:field="*{supplier}"/></p>
					<p>Amount to buy: <input type="number" th:field="*{amount}" min="1"/></p>
					
					State:
					<select th:field="*{state}" required>
				    <option value="In process">In process</option>
				    <option value="Delivered">Delivered</option>
					</select>
					
					<input type="submit" value="Generate Supply Order"/>
				</form>	
			</section>
		</main>
	</body>	
</html>