<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Grupo7</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/iconoPagina.jpg" />
    </head>
	<body>
		<main>
			
			<h1>SUPPLY ORDER INFORMATION </h1>
					<p>Product Name: <span th:text="${supplyOrder.product.name}"></span></p>
					<p>Product Code: <span th:text="${supplyOrder.product.code}"></span></p>
					<p>Supplier: <span th:text="${supplyOrder.supplier}"></span></p>
					<p>Amount: <span th:text="${supplyOrder.amount}"></span></p>
					<p>State: <span th:text="${supplyOrder.state}"></span></p>
		</main>
	</body>	
</html>