<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Grupo7</title>
		<!-- Bootstrap core CSS -->
		<!--<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />-->
		<link href="/css/login.css" rel="stylesheet" />
	</head>
	<body>
	   
		<main>
		       <!-- formulario -->
		       <form th:action="@{/loginprocess}" method="post">
		           <h4> Login </h4> 
		           <input class="controls" type="text" name="username" id="username" placeholder="Username">
		           <input class="controls" type="password" name="password" id="password" placeholder="Password">
		           <input class="botons" type="submit" value="Submit">
		       </form>
			   <div th:if="${error != null}" class="alert alert-danger">
			     	Invalid username or password.
			     </div>

		   </main>
		
	</body>
</html>
