<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Grupo7</title>
		<!-- Bootstrap core CSS -->
		<!--<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />-->
		<link href="/css/login.css" rel="stylesheet" />
	</head>
	<body>
	   
		<main>
			<div class="loginTitle">
				<h1>SneakersClub<img src="/assets/img/iconoPagina.png" alt="logo-img" /></h1>
			</div>
			   <div class="login">
			   	<h3>Login</h3>
			       <form th:action="@{/loginprocess}" method="post">
			       	<input type="text" name="username" id="username" placeholder="Username" required="required" />
			           <input type="password" name="password" id="password" placeholder="Password" required="required" />
			           <button type="submit" class="btn btn-success btn-block btn-large">Let me in.</button>
			       </form>
			   </div>
	
   
		</main>
	</body>
</html>
