/* -------------------------------------- */

/* Estilos del FOOTER */
.contenedor{
	background-color: red;
	border-top: solid black 3px;
	margin-top: 20px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;    

}

.container .logo img {
    margin: 5px;
    border-radius: 16px;
    width: 140px;
    
}
/* -------------------------------------- */