/* Importamos URL */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/*----------------------------------------------------------------*/

/* Estilos generales */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}
/*----------------------------------------------------------------*/

/* Body */
body{
    background-color: lightgrey;
}
/*----------------------------------------------------------------*/

/* Section intro */
.intro {
	background-image: url('/assets/img/jordan4.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 700px;
	display: flex;
	align-items: end;
	justify-content: right;
}

.intro-title {
	color: white;
	padding: 20px;
}

.intro-title > a {
	text-decoration: underline;
	font-weight: bold;
	color: white;
}

.intro-title > a:hover {
	color: black;
}
/*----------------------------------------------------------------*/

/* -Carrusel de Zapas */
.slider {
	height: auto;
	margin: auto;
	overflow: hidden;
	background-color: white;
}
.slider .slide-track {
	display: flex;
	animation: scroll 40s linear infinite;
	-webkit-animation: scroll 40s linear infinite;
	width: calc(200px * 14);
}
.slider .slide {
	width: 300px;
	height: 200px;
}

.slider .slide img {
	width: 200px;
	height: 150px;	
}

@keyframes scroll {
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
	100% {
	-webkit-transform: translateX(calc(-200px * 7));
	transform: translateX(calc(-200px * 7));
	}
}
/* -------------------------------------- */

/* Section Brands */
.section-brands {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-intro {
	
	padding: 50px;
}

.section-intro > button {
	padding: 20px;
	border-radius: 20px;
	background-color: black;
}

.section-intro > button  > a {
	text-decoration: none;
	font-weight: bold;
	color: white;
}

.section-intro > button  > a:hover {
	text-decoration: none;
	font-weight: bold;
	font-size: large;
}

.brands {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.brandCard {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.brandCard > a > img {
	height: 350px;
	width: 340px;
	padding: 30px;
}

.brandCard > a > img:hover {
	transform: scale(1.1);
}
/* -------------------------------------- */

/*Final Section*/
.finalSection {
	padding: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.storesSection {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.storesSection > a {
	color: black;
}

.storesSection > img {
	height: 400px;
	width: 650px;
}

.historySection > a {
	color: black;
}

.historySection {
	padding: 20px;
}

.historySection > img {
	height: 400px;
	width: 650px;
}

/* -------------------------------------- */

.gallery-title {
	background-color: black;
	color: white;
	padding: 20px;
	margin: 20px;
	text-align: center;
}

.car{
	

	display: flex;
	align-items: center;
	justify-content: center;
	
}

.car .carr .carousel-inner{
	
	border: 1px solid black;
	
}

.car .carr .carousel-inner .carousel-item img{
	
	padding: 50px;
	height: 700px;
	max-width: 700px;
	
	
}


.gallery-button {
	padding: 20px;
	display: flex;
	justify-content: center;
}

.gallery-button > button {
	padding: 10px;
	border-radius: 10px;
	background-color: black;
	color: white;
}

/* Estilos de seccion 2 (About Us) */
.about-us-section {
    background-color: white;
	margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	padding: 20px;
	border-radius: 5px;
	align-items: center;
	
}

.img-about-us-section > img {
    height: 300px;
    width: 420px;
    margin: 5px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
}

.info-about-us-section {
    display: flex;
    margin: 30px;
    width: 850px;
    flex-direction: column;
    align-items: center;
}

.info-about-us-section > h1 {
    margin-bottom: 10px;
    color: red;
}

.info-about-us-section > p {
    margin-bottom: 25px;
    color: black;
    font-size: large;   
    line-height: 25px;
    text-align: justify;
}

.button-about-us-section > button {
    padding: 5px;
    font-size: large;
    background-color: white;
    color: black;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	border-radius: 5px;
}

.button-about-us-section > button:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 21px black;
	color: black;
}
/* -------------------------------------- */

/* Estilos de seccion 3 (Shoes) */
.title-shoes-section > h1 {
    color: red;
    font-weight: bolder;
    text-align: center;
}

.shoes-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 10px;
}

.model-shoes-section {
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
	margin: 15px;
	background-color: white;
}

.model-shoes-section > h1 {
   color: black;
}

.model-shoes-section > img {
    height: 230px;
    width: 250px;
    margin: 10px;
}

.button-shoes-section  {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.button-shoes-section > button {
    padding: 5px;
    font-size: large;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: white;
    color: black;
	transition: all 0.3s ease 0s;
	border-radius: 5px;
}

.button-shoes-section > button:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 21px black;
}
/* -------------------------------------- */

/* Estilos de seccion 4 (Gallery) */
.gallery-section {
    width: auto;
    height: 250px;
    background-image: url(../Media/sneakerCloset.jpg);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.title-gallery-section {
    margin: 15px;
    color: black;
    background-color: red;
	padding: 20px;
	border-radius: 16px}

.button-gallery-section > button {
    padding: 5px;
    font-size: large;
    background-color: white;
    color: black;
	transition: all 0.3s ease 0s;
	border-radius: 5px;
}

.button-gallery-section > button:hover {
    transform: scale(1.1);
	box-shadow: 2px 2px 21px black;
}

.tableTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tableTitle > h1 {
	padding-top: 20px;
}

.tableTitle > h1 > span {
	
	font-size: inherit;
	font-weight: inherit;
	color: red;
}

.tableTitle > button {
	
	padding: 10px;
	border-radius: 5px;
	background-color: green;
	color: white;
	transition: all 0.3s;
}

.tableTitle > button:hover {
	
	 transform: scale(1.2);
}

.tableTitle > button > a {
	
	text-decoration: none;
	color: white;
}

.tableSection {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

.tableTitle > h2 {
	font-weight: bold;
	text-decoration: underline;
	padding: 10px;
}

td, th {
    margin: 10px;
    padding: 10px;
    border: solid 1px;
    text-align: center;
}

thead {
	background-color: cadetblue;
}

@media (max-width: 1200px) {
	.btn {
		margin-top: 10px;
	}
}
/* ***************** */
.superContainer{
	
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 150px;
	margin-left: 600px;
	margin-right: 600px;
	padding: 20px;
	background-color: lightgrey;
	border: 1px solid black;
	
}

.superContainer .cont{
	
	display: flex;
	flex-direction: row;

	
}

.superContainer .cont .containerProduct{
	
	margin: 50px;
	
}

.superContainer .cont .containerProduct p{
	
	font-size: larger;
	
}

.superContainer .btn a{
	
	text-decoration: none;
	color: black;
	font-size: larger;
	
}

.superContainer .btn{

	transition: all 0.3s;
	
}

.superContainer .btn:hover{

	transform: scale(1.2);
	
}

.red{
	
	background-color: orangered;
}









