
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

body{
    background-color: lightgrey;
}


.intro {
	background-image: url('/assets/img/jordan4.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 700px;
	display: flex;
	align-items: end;
	justify-content: right;
}

.intro-title {
	color: white;
	padding: 20px;
}

.intro-title > a {
	text-decoration: underline;
	font-weight: bold;
	color: white;
}

.intro-title > a:hover {
	color: black;
}

/* -------------------------------------------- */

    /* carrusel */

#carouselExampleAutoplaying {
	padding: 40px;
}

.carousel-inner img{
    height: 650px;
}


/* -------------------------------------------- */

    /* slider */
	.slider {
	    width: 75vw;
	    height: auto;
	    margin: auto;
	    overflow: hidden;
	
	}

	.slider .slide-track {
	    display: flex;
	    animation: scroll 40s linear infinite;
	    -webkit-animation: scroll 40s linear infinite;
	    width: calc(200px * 14);
	}

	.slider .slide {
	    width: 200px;
	
	}

	.slider .slide img {
	    width: 100px;
		
	}

	@keyframes scroll {
	    0% {
	        -webkit-transform: translateX(0);
	        transform: translateX(0);
	    }
	    100% {
	        -webkit-transform: translateX(calc(-200px * 7));
	        transform: translateX(calc(-200px * 7));
	    }
	}
/* -------------------------------------- */

.gallery-title {
	background-color: black;
	color: white;
	padding: 20px;
	margin: 20px;
	text-align: center;
}

.gallery-button {
	padding: 20px;
	display: flex;
	justify-content: center;
}

.gallery-button > button {
	padding: 10px;
	border-radius: 10px;
	background-color: black;
	color: white;
}

/* Estilos de seccion 2 (About Us) */
.about-us-section {
    background-color: white;
	margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	padding: 20px;
	border-radius: 5px;
	align-items: center;
	
}

.img-about-us-section > img {
    height: 300px;
    width: 420px;
    margin: 5px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
}

.info-about-us-section {
    display: flex;
    margin: 30px;
    width: 850px;
    flex-direction: column;
    align-items: center;
}

.info-about-us-section > h1 {
    margin-bottom: 10px;
    color: red;
}

.info-about-us-section > p {
    margin-bottom: 25px;
    color: black;
    font-size: large;   
    line-height: 25px;
    text-align: justify;
}

.button-about-us-section > button {
    padding: 5px;
    font-size: large;
    background-color: white;
    color: black;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	border-radius: 5px;
}

.button-about-us-section > button:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 21px black;
	color: black;
}
/* -------------------------------------- */

/* Estilos de seccion 3 (Shoes) */
.title-shoes-section > h1 {
    color: red;
    font-weight: bolder;
    text-align: center;
}

.shoes-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 10px;
}

.model-shoes-section {
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
	margin: 15px;
	background-color: white;
}

.model-shoes-section > h1 {
   color: black;
}

.model-shoes-section > img {
    height: 230px;
    width: 250px;
    margin: 10px;
}

.button-shoes-section  {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.button-shoes-section > button {
    padding: 5px;
    font-size: large;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: white;
    color: black;
	transition: all 0.3s ease 0s;
	border-radius: 5px;
}

.button-shoes-section > button:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 21px black;
}
/* -------------------------------------- */

/* Estilos de seccion 4 (Gallery) */
.gallery-section {
    width: auto;
    height: 250px;
    background-image: url(../Media/sneakerCloset.jpg);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.title-gallery-section {
    margin: 15px;
    color: black;
    background-color: red;
	padding: 20px;
	border-radius: 16px}

.button-gallery-section > button {
    padding: 5px;
    font-size: large;
    background-color: white;
    color: black;
	transition: all 0.3s ease 0s;
	border-radius: 5px;
}

.button-gallery-section > button:hover {
    transform: scale(1.1);
	box-shadow: 2px 2px 21px black;
}

.tableTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tableTitle > h1 {
	
	padding-top: 20px;
}

.tableTitle > h1 > span {
	
	font-size: inherit;
	font-weight: inherit;
	color: red;
}

.tableTitle > button {
	
	padding: 10px;
	border-radius: 5px;
	background-color: green;
	color: white;
}

.tableTitle > button:hover {
	
	font-weight: bold;
}

.tableTitle > button > a {
	
	text-decoration: none;
	color: white;
}

.tableSection {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

.tableTitle > h2 {
	
	text-decoration: underline;
	padding: 20px;
}

td, th {
    margin: 10px;
    padding: 10px;
    border: solid 1px;
    text-align: center;
}



