.header{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: black solid 3px;
	height: 80px;
}


.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 60px;
    width: auto;
    transition: all 0.3s;
    border-radius: 16px;
	margin-left: 20px;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
	display: flex;
	align-items: center;
    list-style: none;
    justify-content: center;
	margin-right: 20px;
}


.header .nav-links .link:hover{
    transform: scale(1.3);
}

.header .nav-links .link{
    font-size: 20px;
    text-decoration: none;
    padding: 0 20px;  
    color: white;    
}

.header .nav-links .link:hover{
    color: black;
}

.header .btn {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 50px;
    width: 70px;
}

.header .btn:hover{
    transform: scale(1.1);
}





