@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

/**{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
	
	background-color: white;
	
}*/
/*
.container-cards{
	
	display: flex;
	background-color: aqua;
	
}

.container-cards .cards{
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 240px;
	height: 340px;
	background-color: #fff;
	box-shadow: 0 5px 15px rgba(0,0,0,.25);
	border-radius: 5px;
	
	
	
	
	width: 405px;
	display: flex;
	align-items: column;
	background-color: whitesmoke;
	margin: 50px;
	padding: 50px;
	border-radius: 7px;
	border: 1px solid black;
	
}

.container-cards .cards .imgbox{
	
	height: 100%;
	box-sizing: border-box;
	
}

.container-cards .cards .imgbox img{
	
	display: block;
	width: 90%;
	margin: 20px auto 0;
	
}

.container-cards .cards details{

	position: absolute;
	width: 100%;
	bottom: 0px;
	background: #fff;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 0 0 0 rgba(0,0,0,0);	
	transition: .5s;	

}

.container-cards .cards details h2{
	
	margin: 0;
	padding: 0;
	font-size: 16px;
	width: 100%;
	
}

.container-cards .cards details h2 span{
	
	font-size: 12px;
	color: #ccc;
	font-weight: normal;
	
	
}

.container-cards .cards details price{
	
	position: absolute;
	top: 10px;
	right: 20px;
	font-weight: bold;
	color: #ff4faf;
	font-size: 20px;
	
}

.container-cards .cards label{
	
	display: block;
	margin-top: 5px;
	font-weight: bold;
	font-size: 14px;
	
}

.container-cards .cards u1{
	
	display: block;
	margin: 0;
	padding: 0;
	
}

.container-cards .cards u1 l1{
	
	list-style: none;
	margin: 5px 5px 0;
	font-size: 12px;
	font-weight: bold;
	color: #ccc;

}

.container-cards .cards u1 l1:first-child{
	
	margin-left: 0;
}
*/



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body {
  
  background: url(../assets/img/backgroundCatalogo1.jpg);
  color: var(--text-color);

 
  


  }

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/

.container {

  place-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;

}

.card__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 35px;

  
}

.card__article {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid black;
  height: 400px;
  width: 30%;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
 
}

.card__img {
  width: 100%;
  height: auto;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: white;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: white;
  background-color: #007BFF;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
 
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */

.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}


/* Card animation */

@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

































