*{
	
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Oswald", sans-serif;
}

section{
	
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

section .img-box img{
	
	width: 600px;
	height: 600px;
	margin: 50px;
	
}

section .size-purchase h4{
	
	font-size: medium;
	
}

section .size {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px; /* Espacio entre los botones */
    max-width: 600px; /* Ajustar según sea necesario */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 20px;
}

section .button-size {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

section .button-size:hover {
    background-color: #e0e0e0;
}

section .button-purchase{
	
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	
}

section .button-purchase .buyNew {
	
	margin: 20px;
	height: 73px;
}

section .button-purchase .buyNew .collapse .card-body form{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

section .button-purchase .buyNew .collapse .card-body form input{
	
	width: 80%;
	margin: 5px;
	
}

section .button-purchase .buyNew .collapse .card-body form .submit{
	
	text-decoration: none;
	background-color: rgb(0, 136, 255);
	border: 1px solid;
	border-radius: 16px;
	padding: 2px;
}

section .button-purchase .buyNew .collapse .card-body form button{
	
	width: 80%;
	margin: 5px;
	
}

section .button-purchase .buyUsed{
	
	margin: 20px;
	
}

section .button-purchase .button-new{
	
	background-color: rgb(255, 128, 128);
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	font-size: 1em;
	cursor: pointer;
	transition: background-color 0.3s;
	width: 150px;
	
}

section .button-purchase .button-new:hover {
    background-color: rgb(0, 136, 255);
}

section .button-purchase .button-used{
	
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	font-size: 1em;
	cursor: pointer;
	transition: background-color 0.3s;
	width: 150px;
}

section .terms .learnMore:hover{
	
	color: blue;
	cursor: pointer;
	
}

section .local .place:hover{
	
	color: blue;
	cursor: pointer;
	
}

section .uno {
	
	
	padding: 50px;
	border: 1px solid;
	box-shadow: 0px 0px 12px black;
	border-radius: 16px;
	
	
	
}

section .dos .tres{
	
	display: flex;
	align-items: center;
	text-align: center;
	
	margin: 15px;
	padding: 20px;
	background-color: whitesmoke;
	border-radius: 16px;
	width: 300px;

	
}

section .dos .tres h2{
	
	font-size: 25px;
	
}


