<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Grupo7</title>
		<!-- Bootstrap core CSS -->
		<!--<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />-->
		<link href="/css/stores.css" rel="stylesheet" />
	</head>
	<body>
		<!--Nav-->
		<div>
		    <header class='header'>
		        <div class='logo'>
		            <img src="assets/img/iconoPagina.jpg" alt="logo-img" />
		        </div>
		        <nav>
		            <ul class='nav-links'>
						<a href="/index" class="link">Home</a>
						<a href="/stores "class="link">Stores</a>
						<a href="./Pages/AboutUs.html" class="link">About us</a>
						<a href="/products" class="link">Our Shoes</a>
						<a href="./Pages/Gallery.html" class="link">Gallery</a>
		            </ul>
		        </nav>
				<a href="/logout" class="btn"><button>Logout</button></a>
		    </header>
		</div>
		<!--------------------------------------------------------------------------->

		<!-Main con las sucursales-->
		<main>
			<div class="title">
				<h1> Stores </h1>
			</div>
			<div class="container">
				<div class="location">
					<div>
						<a data-qa="FcnyMapLink" data-testid="store-maps" rel="noopener noreferrer" target="_blank" href="https://goo.gl/maps/CWWZqs5KU5Q1SfAk9" class="FlightClubStore__MapLink-fc-web__sc-1eb98bx-3 fUETEL"><img src="/static/map-group.png" alt="Flight Club New York Google Map Pin"></a>
					</div>
					<div>
						<h2>Flight Club New York</h2>
						<a target="_blank" href="https://goo.gl/maps/CWWZqs5KU5Q1SfAk9" data-qa="FcnyStoreAddress" class="FlightClubStore__AddressLink-fc-web__sc-1eb98bx-4 hmNLpK"><address class="FlightClubStore__StoreAddress-fc-web__sc-1eb98bx-7 HnkVf">812 Broadway<br>New York, NY 10003</address>
						</a>
						<h3>Store Hours</h3>
						<h3>Consignments</h3>
					</div>	
				</div>
				<div class="location">
					<div>
						<h2>Flight Club Los Angeles</h2>
						<a data-qa="FclaMapLink" data-testid="store-maps" rel="noopener noreferrer" target="_blank" href="https://goo.gl/maps/yHG939enGFoCbLxz5" class="FlightClubStore__MapLink-fc-web__sc-1eb98bx-3 fUETEL"><img src="/static/map-group.png" alt="Flight Club Los Angeles Google Map Pin"></a>						<h3>Store Hours</h3>
						<h3>Consignments</h3>
					</div>
							
				</div>
				
				<div class="location">
					<div>
						<h2>Flight Club Miami</h2>
						<a data-qa="FcmiaMapLink" data-testid="store-maps" rel="noopener noreferrer" target="_blank" href="https://goo.gl/maps/F4KRvHaPGw5oMD1N8" class="FlightClubStore__MapLink-fc-web__sc-1eb98bx-3 fUETEL"><img src="/static/map-group.png" alt="Flight Club Miami Google Map Pin"></a>						<h3>Store Hours</h3>
						<h3>Consignments</h3>
					</div>					
				</div>
			</div>
		</main>
		<!-- ----------------------------------------------------------------------- -->

		<!-- Footer -->
		<div class='contenedor'>
		      <div class='container'>
		          <div class='logo'>
		              <img src="assets/img/iconoPagina.jpg" alt="logo-img" />
		          </div>
		          <div class='datos-admin'>
		              <h4>Datos Administrativos</h4>
		              <p>Razón Social: CoverCare
		                  <br />
		                  Cuit: 30-71119543-9
		                  <br />
		                  Convenio Multilateral: 902-539472-7
		                  <br />
		                  Domicilio: Madariaga 1364 Parque Industrial de Almirante Brown.
		              </p>
		          </div>
		      </div>
		      </div>
		<!-- ----------------------------------------------------------------------- -->
	</body>
</html>