<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Grupo7</title>
        <link rel="icon" type="image/x-icon" href="assets/img/iconoPagina.jpg" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
		<link href="/css/index.css" rel="stylesheet" />
		<link href="/css/navBar.css" rel="stylesheet" />
		<link href="/css/footer.css" rel="stylesheet" />
    </head>
    <body>
		<div th:include="navBar/navBar.html::div-header"></div>
 
		 <!-- ----------------------------------------------------------------------- -->
			
		 <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
		   <div class="carousel-inner">
		     <div class="carousel-item active">
		       <img src="assets/img/background4.jpg" class="d-block w-100" alt="...">
		     </div>
		     <div class="carousel-item">
		       <img src="assets/img/background3.jpeg" class="d-block w-100" alt="...">
		     </div>
		     <div class="carousel-item">
		       <img src="assets/img/background.png" class="d-block w-100" alt="...">
		     </div>
		   </div>
		   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
		     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		     <span class="visually-hidden">Previous</span>
		   </button>
		   <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
		     <span class="carousel-control-next-icon" aria-hidden="true"></span>
		     <span class="visually-hidden">Next</span>
		   </button>
		 </div>
=======
        <link href="/css/index.css" rel="stylesheet" />
    </head>
    <body>
		
		
		 <!--------------------------------------------------------------------------->

		    <!--Seccion 1 del inicio (Contacto)-->
		    <section class="contact-section-1">
		        
		        <h1 class="title-contact-section">The shoe you want, the shoe we have.</h1>
		        <h3 class="title-contact-section">Contact us for more info!</h3>
		        <a href="./Pages/ContactUs.html" class="button-contact-section">
		            <button>Contact Us</button>
		        </a>

		    </section>
		    <!-- ----------------------------------------------------------------------- -->

		    <!-- Seccion 2 del inicio (About Us) -->
		    <section class="about-us-section">
		        <div class="img-about-us-section"> 
		            <img src="assets/img/background6.jpg" alt="packaging">
		        </div>
		        
		        
		        <div class="info-about-us-section">
		            <h1>How can we help you?</h1>
		            <p>
		                Our store boasts a wide variety of sneakers, catering to different styles, preferences, and budgets. 
		                Whether you're a sports enthusiast, a fashion-forward individual, or simply seeking comfortable everyday shoes, we have something for everyone. 
		                We carefully curate our collection, ensuring that we offer the latest trends and popular brands, as well as classic and timeless designs.
		                We understand that price is an important factor when making purchasing decisions. That's why we offer competitive pricing on all our sneakers. 
		                We believe in providing value for money without compromising on quality. Our goal is to make premium sneakers accessible to a wide range of customers, ensuring that you get the best deal possible.   
		            </p>
		            <a href="./Pages/AboutUs.html" class="button-about-us-section">
		                <button>Know more about us</button>
		            </a>
		        </div>

		    </section>
		    <!-- ----------------------------------------------------------------------- -->
			
			<div class="slider">
			        <div class="slide-track">
			            <div class="slide">
			                <img src="assets/img/1.png" alt="">
			            </div>
			            <div class="slide">
			                <img src="assets/img/2.png" alt="">
			            </div>
			            <div class="slide">
			                <img src="assets/img/3.png" alt="">
			            </div>
			            <div class="slide">
			                <img src="assets/img/4.png" alt="">
			            </div>
			            <div class="slide">
			                <img src="assets/img/5.png" alt="">
			            </div>
			            <div class="slide">
			                <img src="assets/img/6.png" alt="">
			            </div>
			            <div class="slide">
			                <img src="assets/img/7.png" alt="">
			            </div>

						<div class="slide">
						    <img src="assets/img/1.png" alt="">
						</div>
						<div class="slide">
						    <img src="assets/img/2.png" alt="">
						</div>
						<div class="slide">
						    <img src="assets/img/3.png" alt="">
						</div>
						<div class="slide">
						    <img src="assets/img/4.png" alt="">
						</div>
						<div class="slide">
						    <img src="assets/img/5.png" alt="">
						</div>
						<div class="slide">
						    <img src="assets/img/6.png" alt="">
						</div>
						<div class="slide">
						    <img src="assets/img/7.png" alt="">
						</div>
			        </div>
			    </div>
			

		        <a href="./Pages/Shoes.html" class="button-shoes-section">
		            <button>See our shoes</button>
		        </a>
		    <!-- ----------------------------------------------------------------------- -->

		     <!-- Seccion 4 del inicio (Gallery) -->
		     <section class="gallery-section">
		        
		        <h1 class="title-gallery-section">Pictures of our best models here!</h1>
		        <a href="./Pages/Gallery.html" class="button-gallery-section">
		            <button>Gallery</button>
		        </a>

		    </section>
		    <!-- ----------------------------------------------------------------------- -->

			<div th:include="footer/footer.html::footer"></div>
			
		    <!-- ----------------------------------------------------------------------- -->

		    

    </body>
</html>
